.contact {
	height: 100%;
	width: 100%;
}

.contact section {
	margin: 0;
	padding: 0;
	top: 0;
}

#hit {
	height: 50%;
	background-color: slategray;
	background-position: 50% 0px;
}

.info {
	margin: 0;
	top: 0;
	background-color: #e9e9e7;
}

.info h3 {
	color: black;
	font-weight: 400;
	font-size: 40px;
	text-align: center;
	text-rendering: optimizelegibility;
	letter-spacing: .03em;
	padding: 20px;
	margin: 0;
}

.info p {
	color: black;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	margin: 0;
}

.arrow {
	height: 65px;
}
.arrow path{
	width: 100%;
	fill: #e9e9e7;
	stroke: #e9e9e7;
	stroke-width: 2;
}