<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static "index.css" %}"/>
	<link rel="stylesheet" href="{% static "challenges.css" %}"/>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
		{% include "www/header.html" %}
		{% block content %}
		<!-- En dur pour le moment>$<-->
		<section class="content">
		<div id="closed">Meet our Challenges: </div>
		<div class="listFlow">
			<div>Forensic
				<!-- <div class="mid"> -->
				<!-- <p>Lorem ipsum 1</p> -->
				<!-- </div> -->
			</div>
			<div>Cryptography
				<!-- <p>Lorem ipsum 2</p> -->
			</div>
			<div>Binary Security</div>
			<div>Cracking</div>
			<div>Steganography</div>
		</div>
		</section>
		{% endblock content %}
		{% include "www/footer.html" %}
</body>
</html>